
<ng-container *ngIf="house$ | async as house; else noHouse">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Facility Information</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p><strong>Number of Beds:</strong> {{ house.houseInfo.furniture.bed }}</p>
            <p><strong>Number of Tables:</strong> {{ house.houseInfo.furniture.table }}</p>
            <p><strong>Number of Chairs:</strong> {{ house.houseInfo.furniture.chair }}</p>
            <p><strong>Number of Mattresses:</strong> {{ house.houseInfo.furniture.mattress }}</p>
        </mat-card-content>
    </mat-card>

    <h1>Residents Info</h1>
    <div class="employee-grid">
        <a *ngFor="let employee of residents" 
            [routerLink]="['/hiring-application', employee._id]"
            class="employee-card-link">
            <mat-card class="employee-card">
            <mat-card-header>
                <mat-card-title>{{ employee.firstName }} {{ employee.lastName }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p><strong>Phone:</strong> {{ employee.cellPhone }}</p>
                <p><strong>Email:</strong> {{ employee.email }}</p>
                <p *ngIf="employee.car; else noCarInfo">
                <strong>Car Info:</strong> {{ employee.car.make }} - {{ employee.car.model }} - {{ employee.car.color }}
                </p>
                <ng-template #noCarInfo><p>No car information available.</p></ng-template>
            </mat-card-content>
            </mat-card>
        </a>
    </div>


    <h1>Facility Reports</h1>
    <mat-card *ngFor="let report of reports | slice:(currentPage-1) * itemsPerPage : currentPage * itemsPerPage">
        <mat-card-header>
            <mat-card-title>{{ report.title }}</mat-card-title>
            <mat-card-subtitle>Created by: {{ report.createdBy.username }} on {{ report.timestamp | date:'shortDate' }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Issue: {{ report.description }}</p>
            <div>
                <strong>Status: {{report.status}}</strong>
                <mat-chip-list>
                    <mat-chip [ngStyle]="getStatusStyle(report.status)">
                        <strong>{{ report.status }}</strong>
                    </mat-chip>
                </mat-chip-list>
                <!-- <mat-form-field>
                    <mat-label>Status</mat-label>
                    <mat-select [(ngModel)]="report.status">
                        <mat-option value="open">Open</mat-option>
                        <mat-option value="in progress">In Progress</mat-option>
                        <mat-option value="closed">Closed</mat-option>
                    </mat-select>
                </mat-form-field> -->
                <!-- <button mat-button color="primary" (click)="updateReportStatus(report._id, report.status)">Update Status</button> -->
            </div>
            <h4>Comments:</h4>
            <div class="comments-container">
                <ul>
                    <li *ngFor="let reportItem of report.comments">
                        <strong>{{ reportItem.createdBy.username }}</strong>: {{ reportItem.description }}
                        <span *ngIf="reportItem.createdBy.username === localusername">
                            <button mat-button (click)="enableEdit(reportItem)"
                            [disabled]="report.status === 'closed'">Edit</button>
                        </span>
                        <div *ngIf="reportItem.isEditing">
                            <mat-form-field>
                                <input matInput [(ngModel)]="reportItem.newDescription">
                            </mat-form-field>
                            <button mat-button (click)="submitEdit(report._id,reportItem)">Submit</button>
                        </div>
                        <br>
                        <span class="comment-time">{{ reportItem.timestamp | date:'shortTime' }} {{ reportItem.timestamp | date:'shortDate' }}</span>
                    </li>
                </ul>
            </div>
            <mat-form-field class="comment-input">
                <mat-label>Add Comment</mat-label>
                <input matInput [(ngModel)]="newComments[report._id]">
            </mat-form-field>
            <button mat-button color="primary" 
            (click)="addComment(report._id)"
            [disabled]="report.status === 'closed'">Add Comment</button>
        </mat-card-content>
    </mat-card>
    
    

    <div class="pagination-buttons">
        <button mat-icon-button (click)="changePage(1)" [disabled]="currentPage === 1" aria-label="First page">
            <mat-icon>first_page</mat-icon>
        </button>
        <button mat-icon-button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1" aria-label="Previous page">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <span>Page {{ currentPage }} of {{ numberOfPages }}</span>
        <button mat-icon-button (click)="changePage(currentPage + 1)" [disabled]="currentPage === numberOfPages" aria-label="Next page">
            <mat-icon>chevron_right</mat-icon>
        </button>
        <button mat-icon-button (click)="changePage(numberOfPages)" [disabled]="currentPage === numberOfPages" aria-label="Last page">
            <mat-icon>last_page</mat-icon>
        </button>
    </div>
    
</ng-container>

<ng-template #noHouse>
    <mat-card>
        <mat-card-content>
            <p>No house details available.</p>
        </mat-card-content>
    </mat-card>
</ng-template>
