<div class="visa-item">
  <p>Employee: {{ visa.appId.firstName }} {{ visa.appId.lastName }}</p>
  <p>Step: {{ visa.step }}</p>
  <div *ngIf="visa.OPTReceipt.status !== 'unuploaded'">
    <p>OPTReceipt:</p>
    <p>status: {{ visa.OPTReceipt.status }}</p>
    <p>document: {{ visa.OPTReceipt.document }}</p>
    <p *ngIf="visa.OPTReceipt.status === 'rejected'">
      feedback: {{ visa.OPTReceipt.feedback }}
    </p>
    <app-feedback-form
      *ngIf="visa.OPTReceipt.status === 'pending'"
    ></app-feedback-form>
    <button
      (click)="handleSendNoti()"
      *ngIf="
        visa.OPTEAD.status === 'unuploaded' &&
        visa.OPTReceipt.status === 'approved'
      "
    >
      send notification for submitting OPTEAD form
    </button>
    <p *ngIf="notiSent === true">Notification sent</p>
  </div>
  <div *ngIf="visa.OPTEAD.status !== 'unuploaded'">
    <p>OPTEAD:</p>
    <p>status: {{ visa.OPTEAD.status }}</p>
    <p>document: {{ visa.OPTEAD.document }}</p>
    <p *ngIf="visa.OPTEAD.status === 'rejected'">
      feedback: {{ visa.OPTEAD.feedback }}
    </p>
    <app-feedback-form
      *ngIf="visa.OPTEAD.status === 'pending'"
    ></app-feedback-form>
    <button
      (click)="handleSendNoti()"
      *ngIf="
        visa.I983.status === 'unuploaded' && visa.OPTEAD.status === 'approved'
      "
    >
      send notification for submitting I983 form
    </button>
    <p *ngIf="notiSent === true">Notification sent</p>
  </div>
  <div *ngIf="visa.I983.status !== 'unuploaded'">
    <p>I983:</p>
    <p>status: {{ visa.I983.status }}</p>
    <p>document: {{ visa.I983.document }}</p>
    <p *ngIf="visa.I983.status === 'rejected'">
      feedback: {{ visa.I983.feedback }}
    </p>
    <app-feedback-form
      *ngIf="visa.I983.status === 'pending'"
    ></app-feedback-form>
    <button
      (click)="handleSendNoti()"
      *ngIf="
        visa.I20.status === 'unuploaded' && visa.I983.status === 'approved'
      "
    >
      send notification for submitting I20 form
    </button>
    <p *ngIf="notiSent === true">Notification sent</p>
  </div>
  <div *ngIf="visa.I20.status !== 'unuploaded'">
    <p>I20:</p>
    <p>status: {{ visa.I20.status }}</p>
    <p>document: {{ visa.I20.document }}</p>
    <p *ngIf="visa.I20.status === 'rejected'">
      feedback: {{ visa.I20.feedback }}
    </p>
    <app-feedback-form
      *ngIf="visa.I20.status === 'pending'"
    ></app-feedback-form>
  </div>
  <hr />
</div>
