<div class="header">
  <h2>{{ data.lastName }}, {{ data.firstName }}</h2>
  <button mat-button color="primary" (click)="closeModal()">Close</button>
</div>
<mat-list class="profile-container">
  <mat-list-item>Picture: </mat-list-item>
  <img
    class="document-image"
    [src]="data.picture"
    alt="Picture"
    width="200"
    height="200"
  />
  <mat-list-item>Status: {{ data.status }}</mat-list-item>
  <mat-list-item>MiddleName: {{ data.middleName || "N/A" }}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Email: {{ data.email }}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>CellPhone: {{ data.cellPhone }}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>WorkPhone: {{ data.workPhone || "N/A" }}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>SSN: {{ data.SSN }}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>DOB: {{ data.DOB }}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Gender: {{ data.gender }}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Citizenshimat-list-item: {{ data.citizenship }}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Address:</mat-list-item>
  <div style="margin-left: 20px">
    <mat-list-item
      >BuildingAmat-list-itemtNum:
      {{ data.address.buildingAptNum }}</mat-list-item
    >
    <mat-list-item>Street: {{ data.address.street }}</mat-list-item>
    <mat-list-item>City: {{ data.address.city }}</mat-list-item>
    <mat-list-item>State: {{ data.address.state }}</mat-list-item>
    <mat-list-item>Zimat-list-item: {{ data.address.zip }}</mat-list-item>
  </div>
  <mat-divider></mat-divider>

  <mat-list-item>Car:</mat-list-item>
  <div style="margin-left: 20px">
    <mat-list-item>Make: {{ data.car.make }}</mat-list-item>
    <mat-list-item>Model: {{ data.car.model }}</mat-list-item>
    <mat-list-item>Color: {{ data.car.color }}</mat-list-item>
  </div>
  <mat-divider></mat-divider>
  <mat-list-item *ngIf="data.workAuthorization"
    >Work Authorization:</mat-list-item
  >
  <div style="margin-left: 20px" *ngIf="data.workAuthorization">
    <mat-list-item
      >Tymat-list-iteme: {{ data.workAuthorization.type }}</mat-list-item
    >
    <mat-list-item>document: </mat-list-item>
    <img
      class="document-image"
      [src]="data.workAuthorization.document"
      alt="Work Authorization Document"
      width="200"
      height="200"
    />
    <mat-list-item
      >Start Date: {{ data.workAuthorization.startDate }}</mat-list-item
    >
    <mat-list-item
      >End Date: {{ data.workAuthorization.endDate }}</mat-list-item
    >
  </div>
  <mat-divider></mat-divider>
  <mat-list-item *ngIf="data.driverLicense">Driver License:</mat-list-item>
  <div style="margin-left: 20px" *ngIf="data.driverLicense">
    <mat-list-item>Number: {{ data.driverLicense.number }}</mat-list-item>
    <mat-list-item
      >Exmat-list-itemiration Date:
      {{ data.driverLicense.expirationDate }}</mat-list-item
    >
    <mat-list-item>Document: </mat-list-item>
    <img
      class="document-image"
      [src]="data.driverLicense.document"
      alt="Driver License Document"
      width="200"
      height="200"
    />
  </div>

  <mat-list-item>Reference:</mat-list-item>
  <div style="margin-left: 20px">
    <mat-list-item
      >Name: {{ data.reference.lastName }},
      {{ data.reference.firstName }}</mat-list-item
    >
    <mat-list-item>Phone: {{ data.reference.phone }}</mat-list-item>
    <mat-list-item>Email: {{ data.reference.email }} </mat-list-item>
    <mat-list-item
      >Relationship: {{ data.reference.relationship }}
    </mat-list-item>
  </div>
  <mat-list-item>Feedback: {{ data.feedback || "N/A" }} </mat-list-item>
</mat-list>
