<mat-toolbar color="primary">
  <h2 *ngIf="authService.isLoggedIn(); else notLoggedIn">
    Welcome, {{ username }}
  </h2>
  <ng-template #notLoggedIn>
    <h2>Please log in</h2>
  </ng-template>
  <span style="flex: 1 1 auto"></span>
  <ng-container *ngIf="authService.isLoggedIn()">
    <button mat-button [disabled]="homeActive" routerLink="/">Home</button>
    <button
      mat-button
      [disabled]="employeeProfilesListActive"
      routerLink="/employee-profiles"
    >
      Employee Profiles
    </button>
    <button
      mat-button
      [disabled]="visaStatusManagementActive"
      routerLink="/visa-status-management"
    >
      Visa Status Management
    </button>
    <button
      mat-button
      [disabled]="hiringManagementActive"
      routerLink="/hiring-management"
    >
      Hiring Management
    </button>
    <button
      mat-button
      [disabled]="housingManagementActive"
      routerLink="/housing-management"
    >
      Housing Management
    </button>
    <button mat-button (click)="authService.logout()">Logout</button>
  </ng-container>
  <button *ngIf="!authService.isLoggedIn()" mat-button (click)="toLogin()">
    Login
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
