<h2>Send Registration Link</h2>

<mat-form-field appearance="fill">
    <mat-label>Employee Name:</mat-label>
    <input matInput
            placeholder="Input name..."
            [(ngModel)]="registrationName">
</mat-form-field><br>

<mat-form-field appearance="fill">
    <mat-label>Employee Email:</mat-label>
    <input matInput
            placeholder="Input email..."
            [(ngModel)]="registrationEmail">
</mat-form-field><br>

<button mat-raised-button color="primary" (click)="sendLink()">
    Send Link
</button>
<hr>

<h2>Registration Link Records</h2>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
    </ng-container>
  
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
    </ng-container>
  
    <ng-container matColumnDef="link">
      <th mat-header-cell *matHeaderCellDef> Link </th>
      <td mat-cell *matCellDef="let element"> {{ element.link }} </td>
    </ng-container>
  
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{ element.status }} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <hr>
