<div>
  <input
    type="text"
    placeholder="Search employees..."
    [(ngModel)]="searchInput"
    (input)="onSearchInputChange()"
  />

  <p *ngIf="totalEmployees > 0">
    Total number of employees: {{ totalEmployees }}
  </p>

  <table
    mat-table
    *ngIf="dataSource.filteredData.length > 0"
    [dataSource]="dataSource"
    class="mat-elevation-z8"
  >
    <!-- Full Name Column -->
    <ng-container matColumnDef="FullName">
      <th mat-header-cell *matHeaderCellDef>Full Name</th>
      <td
        mat-cell
        *matCellDef="let employee"
        (click)="openProfileModal(employee)"
      >
        <p class="name">{{ employee.lastName }}, {{ employee.firstName }}</p>
      </td>
    </ng-container>

    <!-- SSN Column -->
    <ng-container matColumnDef="SSN">
      <th mat-header-cell *matHeaderCellDef>SSN</th>
      <td mat-cell *matCellDef="let employee">{{ employee.SSN }}</td>
    </ng-container>

    <!-- Work Authorization Column -->
    <ng-container matColumnDef="workAuthorization">
      <th mat-header-cell *matHeaderCellDef>Work Authorization Title</th>
      <td mat-cell *matCellDef="let employee">
        {{ employee.workAuthorization?.type }}
      </td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="cellPhone">
      <th mat-header-cell *matHeaderCellDef>Phone Number</th>
      <td mat-cell *matCellDef="let employee">{{ employee.cellPhone }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let employee">{{ employee.email }}</td>
    </ng-container>

    <!-- Column definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div style="margin-top: 30px">
    <div
      *ngIf="dataSource.filteredData.length === 0 && searchInput.trim() !== ''"
    >
      No records found.
    </div>
    <div *ngIf="dataSource.filteredData.length > 1">
      Multiple records found.
    </div>
  </div>
</div>
